// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #eee;
}

a:hover, a:visited {
  text-decoration: none;
}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  height: inherit;
}

::-webkit-input-placeholder {
  color: darken(white,15);
}

:-moz-placeholder { /* Firefox 18- */
  color: darken(white,15);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: darken(white,15);
}

:-ms-input-placeholder {  
  color: darken(white,15);
}
